#profile .view {
  background-image: url("../images/prof.jpg") !important;
  background-color: #4a4b3a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#profile .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(118, 116, 121, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), to(rgba(19, 19, 19, 0.4)) 100%)
  );
  background: linear-gradient(
    10deg,
    rgba(39, 39, 39, 0.199),
    rgba(253, 253, 253, 0.185) 100%
  );
}

#profile .card {
  background: linear-gradient(10deg, #000000, #000000);
  box-shadow: -3px 3px 3px #1a1a1a, 3px 3px 5px #2b2828;
}

#profile h6 {
  line-height: 1.7;
}

#profile .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#profile .top-nav-collapse {
  background: black !important;
}

@media (max-width: 768px) {
  #profile .navbar:not(.top-nav-collapse) {
    background: black !important;
  }
}

#profile label {
  color: #fff !important;
}

.md-form input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2e2e2e !important;
  box-shadow: 0 1px 0 0 #2e2e2e !important;
}

#profile .styleBtn {
  background-color: transparent !important;
  color: #ffffff;
  text-align: left;

  background: #404040;
  box-shadow: inset -1px -1px 38px #000000, inset -1px 1px 38px #333333;
}

#profile .styleBtn2 {
  background-color: white !important;
  color: #000000;
  text-align: left;
}

.profBtn {
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

#loadBtn {
  margin-top: 1rem;
}

#runBtn {
  margin-top: 4rem;
}

#run {
  background-color: rgb(151, 44, 44) !important;
  color: white;
}

#dd1 {
  background-color: transparent !important;
  background: #404040;
  box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333;
}

#dd2 {
  background-color: transparent !important;
  background: #404040;
  box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333fa;
}

#save {
  background-color: rgb(26, 71, 32) !important;
  color: white;
}

#add {
  background-color: transparent !important;
  background: #404040;
  box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333;
}

.workspace-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.workspace-container #item1 {
  overflow: hidden;
}

#item2 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  width: 12rem;
}

.vl {
  border-left: 6px solid red;
  height: 100px;
}

.dragNdrop {
  background-color: transparent !important;
  background: #ffffff;
  color: white;
  display: grid;
  grid-template-columns: 0.5rem auto;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-size: 13px;
  box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333fa;
}

.draggableIcons {
  background-color: transparent;
  color: white;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  cursor: move;
  height: 18px;
  width: 18px;
  z-index: 2;
}

p {
  margin: 0px 0px 0px 1.5rem !important;
}
