#workstation .view {
  background-image: url("../images/prof.jpg") !important;
  background-color: #4a4b3a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#workstation .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(118, 116, 121, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), to(rgba(19, 19, 19, 0.4)) 100%)
  );
  background: linear-gradient(
    10deg,
    rgba(39, 39, 39, 0.199),
    rgba(253, 253, 253, 0.185) 100%
  );
}

#workstation .card {
  background: linear-gradient(10deg, #000000, #000000);
  box-shadow: -3px 3px 3px #0c0c0c31, 3px 3px 5px #0c0c0c31;
}

#workstation h6 {
  line-height: 1.7;
}

#workstation .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#workstation .top-nav-collapse {
  background: black !important;
}

@media (max-width: 768px) {
  #workstation .navbar:not(.top-nav-collapse) {
    background: black !important;
  }
}

#workstation label {
  color: #fff !important;
}

.md-form input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2e2e2e !important;
  box-shadow: 0 1px 0 0 #2e2e2e !important;
}

#workstation .styleBtn {
  background-color: transparent !important;
  color: #ffffff;
  text-align: left;
  background: #404040;
  border: solid 1px white;
  border-radius: 3px;
}

#workstation .styleBtn:hover {
  background-color: white !important;
  overflow: hidden;
  color: #000000;
  text-align: left;
  display: inline-block;
  width: auto;
  height: auto;
}

#workstation .styleBtn2 {
  background-color: white !important;
  overflow: hidden;
  color: #000000;
  text-align: left;
  width: auto;
  height: auto;
  border: solid 0.1px rgba(0, 0, 0, 0);
  border-radius: 3px;
}

#workstation .styleBtn2:hover {
  background-color: transparent !important;
  color: #ffffff;

  text-align: left;
  background: #404040;
  border: solid 0.1px white;
  border-radius: 3px;
}

.img-fluid {
  transition: transform 0.2s; /* Animation */
}

.img-fluid:hover {
  transform: scale(1.2);
}

.img-fluid1 {
  transition: transform 0.2s;
  width: 100%; /* Animation */
}

.img-fluid1:hover {
  transform: scale(1);
}

.profBtn {
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

#loadBtn {
  margin-top: 1rem;
}

#runBtn {
  margin-top: 4rem;
}

#run {
  background-color: rgb(151, 44, 44) !important;
  color: white;
}

#run:hover {
  background-color: rgb(201, 40, 40) !important;
  color: white;
}

#dd1 {
  background-color: transparent !important;
  background: #404040;
  padding: 1.1rem 1.1rem 1.1rem 1.1rem;
  border: solid 1px white;
  border-radius: 3px;
  /* box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333; */
}

#dd2 {
  background-color: transparent !important;
  background: #404040;
  padding: 1.1rem 1.1rem 1.1rem 1.1rem;

  border: solid 1px white;
  border-radius: 3px;
  /* box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333fa; */
}

#save {
  background-color: rgb(28, 83, 35) !important;
  color: white;
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
}

#save:hover {
  background-color: rgb(37, 133, 52) !important;
  color: white;
}

#add {
  background-color: transparent !important;
  background: #404040;
  border: solid 1px white;
  border-radius: 3px;
  /* box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333; */
}

.workspace-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.workspace-container #item1 {
  overflow: hidden;
}

#item2 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  width: 12rem;
}

.dragNdrop {
  background-color: transparent !important;
  background: #ffffff;
  color: white;
  display: grid;
  grid-template-columns: 0.5rem auto;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-size: 13px;
  border: solid 1px white;
  border-radius: 3px;

  /* box-shadow: inset -1px -1px 38px #00000062, inset -1px 1px 38px #333333fa; */
}

.information {
  background-color: white !important;
  color: #000000;
  text-align: left;
  display: grid;
  grid-template-columns: 0.1rem auto;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  font-size: 13px;
}
.draggableicons {
  background-color: transparent;
  color: white;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 1;
}

.draggableIcons:last-child {
  background-color: white;
  color: black;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 1;
}

.draggableIconsInside {
  background-color: transparent;
  color: white;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 2;
}

.draggableIconsInside:last-child {
  background-color: white;
  color: black;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 1;
  padding: 0px 0px 0px 1px;
}

.draggableIconsWall {
  background-color: transparent;
  color: white;
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 1;
  padding: 0px 0px 0px 1px;
}

.draggableIconsWall:last-child {
  background-color: rgba(40, 40, 40, 0.1);
  color: rgba(40, 40, 40, 0.1);
  opacity: 1;
  font-size: 25;
  font-weight: bold;
  height: 20px;
  width: 20px;
  z-index: 1;
}

p {
  margin: 0px 0px 0px 1.5rem !important;
}

#infoIcon {
  margin-top: 0.2rem;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: rgba(40, 40, 40, 0.1);
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: rgba(40, 40, 40, 0.1);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.877) !important;
  margin-top: 7rem !important;
  border-radius: 4px !important;
}

#workstation label {
  color: black !important;
}

.fa-arrows-alt-v:before {
  content: "\f338";
  margin-left: 0.4rem !important;
}

.fade {
  transition: 0s !important;
}

#workstation label {
  color: white !important;
}

/* .table-bordered {
  border: 1px solid #dee2e6;
  border-radius: 3px !important
  ;
} */

div.mdb-datatable div.mdb-datatable-filter {
  text-align: right;
  margin-left: 1rem;
}

div.mdb-datatable div.mdb-dataTables_paginate {
  margin: 0;
  text-align: right;
  margin-right: 1rem;
}

table.table th,
table.table td {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
  text-align: center;
}

table.mdb-dataTable thead .sorting::before,
table.mdb-dataTable thead .sorting_asc::before,
table.mdb-dataTable thead .sorting_desc::before,
table.mdb-dataTable thead .sorting_asc_disabled::before,
table.mdb-dataTable thead .sorting_desc_disabled::before,
table thead.mdb-dataTable-head .sorting::before,
table thead.mdb-dataTable-head .sorting_asc::before,
table thead.mdb-dataTable-head .sorting_desc::before,
table thead.mdb-dataTable-head .sorting_asc_disabled::before,
table thead.mdb-dataTable-head .sorting_desc_disabled::before {
  left: -0.4rem;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f062";
  margin-left: 2rem;
}

table.mdb-dataTable thead .sorting::after,
table.mdb-dataTable thead .sorting_asc::after,
table.mdb-dataTable thead .sorting_desc::after,
table.mdb-dataTable thead .sorting_asc_disabled::after,
table.mdb-dataTable thead .sorting_desc_disabled::after,
table thead.mdb-dataTable-head .sorting::after,
table thead.mdb-dataTable-head .sorting_asc::after,
table thead.mdb-dataTable-head .sorting_desc::after,
table thead.mdb-dataTable-head .sorting_asc_disabled::after,
table thead.mdb-dataTable-head .sorting_desc_disabled::after {
  left: -0.4rem;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f063";
  margin-left: 2rem;
}
