#profile .view {
  background-image: url("prof.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#profile .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(118, 116, 121, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), to(rgba(19, 19, 19, 0.4)) 100%)
  );
  background: linear-gradient(
    320deg,
    rgba(19, 12, 12, 0.842),
    rgba(250, 243, 243, 0.253) 100%
  );
}

#profile .card {
  background-color: rgb(12, 12, 12);
}

#profile h6 {
  line-height: 1.7;
}

#profile .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#profile .top-nav-collapse {
  background: black !important;
}

@media (max-width: 768px) {
  #profile .navbar:not(.top-nav-collapse) {
    background: black !important;
  }
}

#profile label {
  color: #fff !important;
}

.md-form input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2e2e2e !important;
  box-shadow: 0 1px 0 0 #2e2e2e !important;
}

#profile .styleBtn {
  background-image: linear-gradient(
    0deg,
    rgb(12, 12, 12) 0%,
    rgb(12, 12, 12) 100%
  );
  box-shadow: none;
  text-align: left;
}

#avatar {
  width: 5rem;
  height: 5rem;
  margin: auto;
}

.profBtn {
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

#loadBtn {
  margin-top: 1rem;
}

#runBtn {
  margin-top: 4rem;
}

.hr {
  margin-top: 1rem;
}

.hrleft {
  margin-top: 1rem;
}

#myCanvas {
  border: 1px solid white;
  background-color: white;
  width: 100%;
  height: 50vh;
}

.flex-row {
  margin-left: -0.4rem;
}

#run {
  border-radius: 1rem;
  position: fixed;
  right: 0;
  margin-right: 1.2rem;
}

#dd1 {
  margin-left: 17rem;
  border-radius: 1rem;
  background-color: transparent !important;
}

#dd2 {
  border-radius: 1rem;
  background-color: transparent !important;
}

#save {
  position: fixed;
  left: 0;
  border-radius: 1rem;
  margin-left: 1.2rem;
}

#add {
  position: fixed;
  margin-left: 5rem;
  border-radius: 1rem;
}

.add {
  background-color: #33b5e5;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}